.footer {
    background-color: #1b1b1b;
    color: #fff;
    padding: 20px 0;
    text-align: left;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    min-width: 300px;
    margin: 20px 10px;
  }
  
  .footer-section h2 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .footer-section p,
  .footer-section ul {
    color: #fff;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    color: #f13544;
  }
  
  .socials a {
    color: #f13544;
    margin-right: 10px;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .socials a:hover {
    color: #fff;
  }
  
  .contact p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contact p svg {
    margin-right: 10px;
  }
  